* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.header {
    
    width: 80%;
    margin: 0 auto;
    background-color: blueviolet;
    
}



.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav > div {
    padding: 24px ;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
} 

.nav .logo {
    font-size: 2rem;
}

.nav-icon {
    font-size: 1.5rem;
}

.nav > div a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: red;
}